<div class="event_container">
  <h1> Events created by <%= @user.name %> </h1>
</div>
<div class="event_container">
  <h3>Upcoming Events</h3>
  <br>
</div>
<div class="event_container">
<% @my_upcoming_events.each do |event| %>
<div class="event_card">
  <% if event.date %>
    <p class="date_event"> <%= event.date %> <p>
  <% end %>
  <h2> <%= event.location %> <h2>
  <h3> <%= event.description %> <h3>
  <p class="date_event_created"> Posted <%= time_ago_in_words(event.created_at) %> ago</p>
  <%= link_to 'view', event_path(event), class:"date_event"%>
</div>
<% end %>
</div>

<div class="event_container">
  <h3>Previous Events</h3>
  <br>
</div>
<div class="event_container">
<% @my_previous_events.each do |event| %>
<div class="event_card">
  <% if event.date %>
    <p class="date_event"> <%= event.date %> <p>
  <% end %>
  <h2> <%= event.location %> <h2>
  <h3> <%= event.description %> <h3>
  <p class="date_event_created"> Posted <%= time_ago_in_words(event.created_at) %> ago</p>
  <%= link_to 'view', event_path(event), class:"date_event"%>
</div>
<% end %>
</div>

<div class="event_container">
  <h1> Events you were invited to </h1>
</div>
<div class="event_container">
  <h3>Upcoming Events</h3>
  <br>
</div>
<div class="event_container">
<% @upcoming_events.each do |event| %>
<div class="event_card">
  <% if event.date %>
    <p class="date_event"> <%= event.date %> <p>
  <% end %>
  <h2> <%= event.location %> <h2>
  <h3> <%= event.description %> <h3>
  <p class="date_event_created"> Posted <%= time_ago_in_words(event.created_at) %> ago</p>
  <%= link_to 'view', event_path(event), class:"date_event"%>
</div>
<% end %>
</div>

<div class="event_container">
  <h3>Previous Events</h3>
  <br>
</div>
<div class="event_container">
<% @previous_events.each do |event| %>
<div class="event_card">
  <% if event.date %>
    <p class="date_event"> <%= event.date %> <p>
  <% end %>
  <h2> <%= event.location %> <h2>
  <h3> <%= event.description %> <h3>
  <p class="date_event_created"> Posted <%= time_ago_in_words(event.created_at) %> ago</p>
  <%= link_to 'view', event_path(event), class:"date_event"%>
</div>
<% end %>
</div>